<h2>Update <%= @word.word() %></h2>
<form action="/words/<%= @word.id() %>" method="post">


</form>

<form class="" action="index.html" method="post">

</form>


<form class="" action="index.html" method="post">

</form>
