<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>Word Fun</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Welcome To Word Fun</h1>
    <div class="container">

      <%= yield %>

    </div>
  </body>
</html>
