<h2>Make a NEW and EXCITING word!</h2>

<form action="/words" method="post">

  <div class="card">


    <label for="word">Word
    <input type="text" name="" value="">
    </label>


  </div>

</form>
