<h2>Make a NEW and EXCITING word!</h2>

<form action="/words" method="post">

  <div class="card">


    <label for="word_name">Word
    <input id="word_name" type="text" name="word_name" value="">
    </label>
    <button type="submit" name="button">Add</button>

  </div>

</form>
